<h2><%= work_version.title %></h2>

<p>
  <strong>Version name:</strong>
  <%= work_version.version_name %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= work_version.subtitle %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= work_version.keywords.join(', ') %>
</p>

<p>
  <strong>Rights:</strong>
  <%= work_version.rights %>
</p>

<p>
  <strong>Description:</strong>
  <%= work_version.description %>
</p>

<p>
  <strong>Resource type:</strong>
  <%= work_version.resource_type %>
</p>

<p>
  <strong>Contributor:</strong>
  <%= work_version.contributor %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= work_version.publisher %>
</p>

<p>
  <strong>Published date:</strong>
  <%= work_version.published_date %>
</p>

<p>
  <strong>Subject:</strong>
  <%= work_version.subject %>
</p>

<p>
  <strong>Language:</strong>
  <%= work_version.language %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= work_version.identifier %>
</p>

<p>
  <strong>Based near:</strong>
  <%= work_version.based_near %>
</p>

<p>
  <strong>Related url:</strong>
  <%= work_version.related_url %>
</p>

<p>
  <strong>Source:</strong>
  <%= work_version.source %>
</p>
