<h1><%= @work_version.display_version_name %></h1>

<div class="row">
  <div class="col-sm-8">
    <%= work_version_badge @work.latest_version %>
    <%= render partial: 'show_fields', locals: { work_version: @work_version } %>
    <%= render partial: 'show_files', locals: { work_version: @work_version } %>
  </div>

  <div class="col-sm-4">
    <%= render 'works/versions_sidebar', work: @work, active: @work_version %>
  </div>
</div>
