<h1>Editing</h1>

<% if flash.alert %>
  <div class="alert alert-danger" role="alert">
    <h2>Errors</h2>
    <ul>
      <% flash.alert.each do |alert| %>
        <li><%= alert %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(
      model: @file_version,
      url: work_version_file_path(params[:work_id], params[:version_id], @file_version),
      local: true) do |form| %>

  <div class="form-group">
    <%= form.label :title %>
    <div class="input-group">
      <%= form.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <%= form.submit "Update", class: 'btn btn-primary' %>
  <%= link_to "Cancel", work_version_file_list_path, class: 'btn btn-link' %>

<% end %>
