<p id="notice"><%= notice %></p>

<h1>Versions for work</h1>

<%= render @work.work_versions %>

<%= link_to 'New Work', new_work_path %> |
<%= link_to 'New Version' %> |
<%= link_to 'All My Works', works_path %>
