<p id="notice"><%= notice %></p>

<h1>Latest Version</h1>

<div class="row">
  <div class="col-sm-8">
    <%= work_version_badge @work.latest_version %>

    <%= render partial: 'work_versions/show_fields', locals: { work_version: @work.latest_version } %>
    <%= render partial: 'work_versions/show_files', locals: { work_version: @work.latest_version } %>
  </div>

  <div class="col-sm-4">
    <%= render 'versions_sidebar', work: @work, active: @work.versions.last %>
  </div>
</div>
